# Java / Maven
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd
*.class
*.jar
*.war

# IDE
**/.idea/
**/.vscode/
*.iml
*.ipr
*.iws

# Environment / Secrets
**/.env
**/.env.local
**/.env.prod
**/application-local.yml
**/application-prod.yml

# Node / Angular
**/node_modules/
**/dist/
**/.angular/

# Docker
**/docker-compose.override.yml

# OS
.DS_Store
Thumbs.db